obras.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT obras (livro)+>

<!ELEMENT livro (codigo_autor, autor, titulo, isbn, ano, preco, editor)>

<!ELEMENT codigo_autor (#PCDATA)>

<!ELEMENT autor (#PCDATA)>

<!ELEMENT titulo (#PCDATA)>

<!ELEMENT isbn (#PCDATA)>

<!ELEMENT ano (#PCDATA)>

<!ELEMENT preco (#PCDATA)>

<!ELEMENT editor (#PCDATA)>

<!ATTLIST obras
 xmlns:xsi CDATA #IMPLIED>

<!ATTLIST obras 
 xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
